[submodule "bx"]
	path = bx
	url = https://github.com/bkaradzic/bx.git
[submodule "bgfx"]
	path = bgfx
	url = git-personal:GuDuJian-J-Zhang/bgfx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/bkaradzic/bimg.git
